Enquiry Classifier & Response Generator - Webhook UI.json
{
  "name": "Enquiry Classifier & Response Generator - Webhook UI",
  "nodes": [
    {
      "parameters": {
        "content": "## Configuration Required\n\n**Backend API Endpoints:**\n1. Client Lookup: `GET /api/client/context?email=...`\n2. RAG Search fallback: `POST /api/rag/search`\n\n**Google Sheets Knowledge Base:**\nUpload `data/strata_knowledge_base_google_sheet.csv` to Google Sheets, name the tab `KnowledgeBase`, then configure the `Knowledge Base Sheet Tool` node with your Google OAuth credential, document, and sheet.\n\n**Negative-case handling:**\n- Client not found continues as `New Client`.\n- Client lookup HTML/error responses are treated as unavailable context, not as the enquiry.\n- Empty RAG results become an empty array.\n- The AI prompt must analyze only the submitted client message.",
        "height": 420,
        "width": 560,
        "color": 5
      },
      "id": "5a8cec2c-4cbe-4118-b2de-79546fdd7f1a",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        368
      ]
    },
    {
      "parameters": {
        "content": "## 🤖 AI Model Settings\n\n**Current Configuration:**\n• Model: gpt-4o-mini\n• Temperature: 0.2 (low for consistent classification)\n• Max Tokens: 1200\n\n**Why Low Temperature?**\nFor triage/classification tasks, we want deterministic, consistent results. Temperature 0.2 ensures the AI follows classification rules strictly.\n\n**Adjust in:** OpenAI Model node → Options → Temperature",
        "height": 240,
        "width": 320,
        "color": 2
      },
      "id": "1c87e41f-3c8a-49ac-8347-674451b03c31",
      "name": "AI Configuration",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1056,
        464
      ]
    },
    {
      "parameters": {
        "content": "## Custom UI Webhook\n\nUse this workflow when the client form is your Laravel/custom web UI.\n\nProduction webhook URL after activation:\n`https://gabunadame.app.n8n.cloud/webhook-test/strata-enquiry`\n\nLaravel backend/RAG URL configured in HTTP nodes:\n`https://8137-103-43-214-18.ngrok-free.app`\n\nExpected client payload:\n`client_name`, `client_email`, `building_name`, `building_size`, `message`\n\nIf ngrok restarts, update the two HTTP Request node URLs before testing. The Google Sheets tool must also be configured manually in n8n with your sheet credential.",
        "height": 340,
        "width": 520,
        "color": 3
      },
      "id": "e899f393-712c-486d-ba58-619b0e63035f",
      "name": "Custom UI Webhook Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        -16
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 1200,
          "temperature": 0.2
        }
      },
      "id": "73915925-8be0-4f00-9bbf-944dafd83753",
      "name": "OpenAI Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1104,
        512
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZmQjj6SbWmNScPZ4",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"client_type\":\"Existing Client\",\"category\":\"Complaint\",\"urgency\":\"High\",\"confidence\":92,\"summary\":\"Existing client reports repeated after-hours noise from a neighbouring lot and wants the matter actioned.\",\"recommended_actions\":[\"Log the complaint against the relevant lot and attach the owner supplied details.\",\"Check the scheme by-laws and previous correspondence for this building.\",\"Send an acknowledgement to the client and advise the next review timeframe.\"],\"historical_reference\":{\"similar_case_id\":\"enq-001\",\"previous_resolution\":\"by-law notice issued, resolved within 7 days\"},\"suggested_response\":\"Dear Maria,\\n\\nThank you for letting us know about the repeated noise issue. We have logged this as a strata complaint and will review the relevant by-laws and any prior correspondence for your building.\\n\\nWe will update you once the next action has been confirmed. Please keep a note of any further incidents, including dates and times, so we can include them in the record.\\n\\nBest regards,\\nStrata Support Team\",\"requires_human_review\":true}"
      },
      "id": "a7f04a56-f25b-4b52-ac49-89d58d4b61b9",
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1232,
        512
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "strata-enquiry",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "59e1f78b-fdca-4411-b7b8-0c75ee0a9853",
      "name": "Strata Inquiry Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        192,
        288
      ],
      "webhookId": "strata-enquiry-custom-ui"
    },
    {
      "parameters": {
        "url": "={{ \"https://8137-103-43-214-18.ngrok-free.app/api/client/context?email=\" + encodeURIComponent($json.client_email || \"\") }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ngrok-skip-browser-warning",
              "value": "true"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "baecb3f4-5f20-4488-9fb8-df8b7f858021",
      "name": "Lookup Client Context1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        288
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://8137-103-43-214-18.ngrok-free.app/api/rag/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ngrok-skip-browser-warning",
              "value": "true"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"query\": $(\"Normalize Client Input\").item.json.message, \"limit\": 3 } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "c7b9d13b-4220-4ffb-be5c-4a99114d5d03",
      "name": "Retrieve Similar Cases (RAG)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        288
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "inquiry_message",
              "value": "={{ $(\"Normalize Client Input\").item.json.message }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "client_email",
              "value": "={{ $(\"Normalize Client Input\").item.json.client_email }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "client_name",
              "value": "={{ $(\"Normalize Client Input\").item.json.client_name }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "building_name",
              "value": "={{ $(\"Normalize Client Input\").item.json.building_name }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "building_size",
              "value": "={{ $(\"Normalize Client Input\").item.json.building_size }}",
              "type": "number"
            },
            {
              "id": "6",
              "name": "client_context",
              "value": "={{ (() => { const fallback = { client_exists: false, client_id: null, client_type: \"New\", assigned_consultant: \"Business Development\", past_inquiries_count: 0, active_projects: [], open_requests: 0, levy_status: \"n/a\", portal_access: false, lots: [], profile: null, lookup_status: \"not_found\", lookup_note: \"No matching client found; continue as a new client enquiry.\" }; const ctx = $(\"Lookup Client Context1\").item.json ?? {}; const data = ctx.data; const text = typeof data === \"string\" ? data.toLowerCase() : \"\"; const status = Number(ctx.statusCode ?? ctx.status ?? 0); const badResponse = Boolean(ctx.error) || status >= 400 || text.includes(\"<!doctype html\") || text.includes(\"ngrok\") || (text.includes(\"endpoint\") && text.includes(\"offline\")); if (badResponse) return { ...fallback, lookup_status: \"unavailable\", lookup_error: \"Client lookup returned an error or non-client response; do not analyse that response as the enquiry.\" }; if (ctx.client_exists === false || (!ctx.client_id && (ctx.client_type === \"New\" || ctx.client_type === undefined))) return { ...fallback, ...ctx, client_exists: false, client_type: \"New\", assigned_consultant: ctx.assigned_consultant ?? \"Business Development\", lookup_status: \"not_found\" }; return { ...ctx, lookup_status: \"found\" }; })() }}",
              "type": "object"
            },
            {
              "id": "7",
              "name": "similar_cases",
              "value": "={{ (() => { const rag = $(\"Retrieve Similar Cases (RAG)1\").item.json ?? {}; return Array.isArray(rag.similar_cases) ? rag.similar_cases : []; })() }}",
              "type": "array"
            },
            {
              "id": "8",
              "name": "workflow_source",
              "value": "custom_laravel_ui",
              "type": "string"
            },
            {
              "id": "9",
              "name": "knowledge_sources",
              "value": "={{ { google_sheet_tool: \"Knowledge Base Sheet Tool\", http_rag_fallback: \"Retrieve Similar Cases (RAG)1\", client_lookup: \"Lookup Client Context1\" } }}",
              "type": "object"
            },
            {
              "id": "10",
              "name": "validation_errors",
              "value": "={{ $(\"Normalize Client Input\").item.json.validation_errors ?? [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "ea30e17e-f238-4855-83ae-1b767ddfa465",
      "name": "Prepare AI Context1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        288
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CURRENT CLIENT ENQUIRY\nClient name: {{ $json.client_name || \"Client\" }}\nClient email: {{ $json.client_email || \"not supplied\" }}\nBuilding: {{ $json.building_name || \"not supplied\" }}\nBuilding size: {{ $json.building_size || 0 }} units\nSubmitted message: {{ $json.inquiry_message }}\nValidation errors: {{ JSON.stringify($json.validation_errors || []) }}\n\nCLIENT CONTEXT FROM LOCAL DEMO DATABASE\n{{ JSON.stringify($json.client_context, null, 2) }}\n\nSIMILAR PAST ENQUIRIES FROM HTTP RAG FALLBACK\n{{ JSON.stringify($json.similar_cases, null, 2) }}\n\nGOOGLE SHEETS KNOWLEDGE BASE\nA tool named `Knowledge Base Sheet Tool` is available after Google Sheets credentials/document are configured. Use it to look up relevant rows from the `KnowledgeBase` sheet using the submitted message, category keywords, urgency, and client status. If the tool is unavailable, errors, or returns no useful row, continue with the HTTP RAG fallback above.\n\nTASK\nAnalyse only the client's submitted message and the supplied client/RAG/sheet context. Return a staff-ready triage result for a strata consultancy.\n\nIMPORTANT GUARDRAILS\n- The client's enquiry is the value in \"Submitted message\" only.\n- Do not analyse webhook, Laravel, ngrok, endpoint, HTML, JSON, or integration errors unless those words are explicitly part of the client's submitted message.\n- If validation_errors is not empty, produce a safe staff triage response asking for the missing details and set requires_human_review to true.\n- If client lookup status is `not_found`, continue as a New Client; this is a normal negative lookup, not a workflow failure.\n- If client context, Google Sheets data, or similar cases are unavailable, continue using the submitted message and mark the historical reference as not applicable.\n- Never output null as a client name. Use \"Client\" when the name is missing.\n- Keep recommended actions practical for staff members.\n- Keep the suggested response client-facing, professional, and ready to paste.\n\nCLASSIFICATION\nSet client_type to:\n- \"Existing Client\" when client_context.client_exists is true.\n- \"New Client\" otherwise.\n\nSet category to one of:\n- \"New Client\" for prospective client/service enquiries.\n- \"Support Request\" for existing-client operational help or project follow-up.\n- \"Complaint\" for dissatisfaction, disputes, repeated problems, or negative sentiment.\n- \"Maintenance Request\" for repairs, leaks, safety hazards, access, facilities, or contractors.\n- \"Financial Enquiry\" for levies, invoices, budgets, payments, arrears, or statements.\n- \"General Question\" for broad information requests that do not fit the above.\n\nSet urgency to:\n- \"High\" for safety risks, water/electrical issues, legal/compliance risk, complaints, repeated unresolved issues, or anything requiring same-day attention.\n- \"Medium\" for existing-client support, financial questions, committee/project follow-up, or time-sensitive but non-emergency requests.\n- \"Low\" for general questions or non-urgent new-client enquiries.\n\nOUTPUT JSON FIELDS\n- client_type: \"New Client\" or \"Existing Client\"\n- category: one of the categories listed above\n- urgency: \"High\", \"Medium\", or \"Low\"\n- confidence: integer from 0 to 100\n- summary: one concise sentence about the actual client enquiry\n- recommended_actions: array of 3 to 5 staff actions\n- historical_reference: object with similar_case_id and previous_resolution; use 0 and \"n/a\" if no useful match\n- suggested_response: 2 to 4 short paragraphs addressed to the client by name when available\n- requires_human_review: true when urgency is High, category is Complaint, confidence is below 70, validation_errors is not empty, or the enquiry is ambiguous",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a senior strata operations assistant. Your job is to classify client enquiries, recommend the next staff actions, and draft a professional client response. Use the client message as the source of truth. Use Google Sheets knowledge, local demo database context, and HTTP RAG results only as supporting context. Treat missing clients, unavailable knowledge rows, and empty RAG results as normal negative cases. Return only the structured JSON required by the output parser."
        }
      },
      "id": "a2ac13ab-d753-44d3-8faf-2db576d762c5",
      "name": "Classify & Analyze Inquiry1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1312,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.output.urgency }}",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "2",
              "leftValue": "={{ $json.output.requires_human_review }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "104b27bb-7d07-4efc-98ae-03a4a514f759",
      "name": "Check Urgency1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1600,
        288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "status",
              "value": "ESCALATED",
              "type": "string"
            },
            {
              "id": "2",
              "name": "notification",
              "value": "={{ \"HIGH PRIORITY: \" + ($json.output.category || \"Enquiry\") + \" from \" + ($(\"Prepare AI Context1\").item.json.client_name || \"Client\") }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "assigned_to",
              "value": "={{ $(\"Prepare AI Context1\").item.json.client_context?.assigned_consultant ?? \"Business Development\" }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "analysis",
              "value": "={{ $json.output }}",
              "type": "object"
            },
            {
              "id": "5",
              "name": "client_info",
              "value": "={{ $(\"Prepare AI Context1\").item.json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "4e933775-634f-44f7-998e-c453cb11838b",
      "name": "Escalate to Human Review1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "status",
              "value": "PROCESSED",
              "type": "string"
            },
            {
              "id": "2",
              "name": "notification",
              "value": "={{ \"PROCESSED: \" + ($json.output.category || \"Enquiry\") + \" from \" + ($(\"Prepare AI Context1\").item.json.client_name || \"Client\") }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "analysis",
              "value": "={{ $json.output }}",
              "type": "object"
            },
            {
              "id": "4",
              "name": "client_info",
              "value": "={{ $(\"Prepare AI Context1\").item.json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "d2e32a6f-d25f-4add-b307-62299ef3fc82",
      "name": "Standard Response1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        384
      ]
    },
    {
      "parameters": {
        "content": "## 🎯 Workflow Overview\n\nThis workflow demonstrates enterprise-grade inquiry triage with:\n\n**1. Form Capture** - Collect client details\n**2. Client Lookup** - Retrieve ownership & history\n**3. RAG Retrieval** - Find similar past cases\n**4. AI Analysis** - Context-aware classification\n**5. Smart Routing** - Escalate or auto-process\n\n**Key Features:**\n• Email-based client identification\n• Historical case similarity matching\n• Sentiment-based urgency detection\n• Automated response generation\n• Human review for high-priority cases",
        "height": 280,
        "width": 320,
        "color": 4
      },
      "id": "6a5aa0a6-30d4-4c02-84cc-f394462690b3",
      "name": "Workflow Guide1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        96
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2064,
        384
      ],
      "id": "cc68cddc-1ea6-4f57-a71a-ad38028cf033",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2064,
        208
      ],
      "id": "430c748e-9c39-44b8-9f27-ce5d6ff80288",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "options": {},
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "REPLACE_WITH_STRATA_KNOWLEDGE_SHEET_ID",
          "cachedResultName": "Strata Knowledge Base Mock"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "KnowledgeBase",
          "cachedResultName": "KnowledgeBase"
        }
      },
      "id": "google-sheet-knowledge-tool",
      "name": "Knowledge Base Sheet Tool",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1440,
        560
      ],
      "notesInFlow": true,
      "notes": "Upload data/strata_knowledge_base_google_sheet.csv to Google Sheets, name the tab KnowledgeBase, then select the document and sheet here. This is an AI tool; the HTTP RAG node remains the fallback.",
      "continueOnFail": true
    },
    {
      "id": "normalize-client-input",
      "name": "Normalize Client Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        288
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "client_email",
              "name": "client_email",
              "value": "={{ String($json.body?.client_email ?? $json.body?.email ?? $json.client_email ?? $json.email ?? \"\").trim().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "client_name",
              "name": "client_name",
              "value": "={{ String($json.body?.client_name ?? $json.body?.name ?? $json.client_name ?? $json.name ?? \"Client\").trim() || \"Client\" }}",
              "type": "string"
            },
            {
              "id": "building_name",
              "name": "building_name",
              "value": "={{ String($json.body?.building_name ?? $json.building_name ?? \"\").trim() }}",
              "type": "string"
            },
            {
              "id": "building_size",
              "name": "building_size",
              "value": "={{ Number($json.body?.building_size ?? $json.building_size ?? 0) }}",
              "type": "number"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ String($json.body?.message ?? $json.body?.inquiry ?? $json.message ?? $json.inquiry ?? \"\").trim() }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "custom_laravel_ui",
              "type": "string"
            },
            {
              "id": "raw_input",
              "name": "raw_input",
              "value": "={{ $json.body ?? $json }}",
              "type": "object"
            },
            {
              "id": "validation_errors",
              "name": "validation_errors",
              "value": "={{ [!String($json.body?.message ?? $json.body?.inquiry ?? $json.message ?? $json.inquiry ?? \"\").trim() ? \"missing_message\" : null, !String($json.body?.client_email ?? $json.body?.email ?? $json.client_email ?? $json.email ?? \"\").trim() ? \"missing_client_email\" : null].filter(Boolean) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Classify & Analyze Inquiry1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Classify & Analyze Inquiry1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base Sheet Tool": {
      "ai_tool": [
        [
          {
            "node": "Classify & Analyze Inquiry1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Client Context1": {
      "main": [
        [
          {
            "node": "Retrieve Similar Cases (RAG)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Similar Cases (RAG)1": {
      "main": [
        [
          {
            "node": "Prepare AI Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Context1": {
      "main": [
        [
          {
            "node": "Classify & Analyze Inquiry1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify & Analyze Inquiry1": {
      "main": [
        [
          {
            "node": "Check Urgency1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Urgency1": {
      "main": [
        [
          {
            "node": "Escalate to Human Review1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Standard Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standard Response1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate to Human Review1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strata Inquiry Webhook": {
      "main": [
        [
          {
            "node": "Normalize Client Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Client Input": {
      "main": [
        [
          {
            "node": "Lookup Client Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dab216b5-ee14-46a6-b599-38b830b57f97",
  "meta": {
    "instanceId": "ec3b3be42921bc408f65d871f0fb08b65e699857bb1bef89d686a642b4c56ef9"
  },
  "id": "aw10EJHYqCenIw6T",
  "tags": []
}
