Enquiry Classifier & Response Generator - n8n Cloud Mock.json
{
  "name": "Enquiry Classifier & Response Generator - n8n Cloud DB Context",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 1000,
          "temperature": 0.2
        }
      },
      "id": "51f8e3f1-8211-49fd-b65d-eea23966da05",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1144,
        624
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZmQjj6SbWmNScPZ4",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{ \"client_type\": \"Existing Client\", \"category\": \"Complaint\", \"urgency\": \"High\", \"confidence\": 93, \"summary\": \"Existing client reports dissatisfaction with current strata transition delays.\", \"recommended_actions\": [\"Escalate to senior consultant\", \"Schedule follow-up meeting\", \"Review transition timeline\"], \"historical_reference\": { \"similar_case_id\": 1001, \"previous_resolution\": \"Transition consultation completed successfully\" }, \"suggested_response\": \"Thank you for reaching out regarding your concerns...\", \"requires_human_review\": false }"
      },
      "id": "ac8e10cd-9edc-4178-8f3c-3e5ada3185d7",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1272,
        624
      ]
    },
    {
      "parameters": {
        "formTitle": "Strata Consultancy Inquiry",
        "formDescription": "Submit your inquiry and our team will respond promptly.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "fieldName": "client_email",
              "requiredField": true
            },
            {
              "fieldLabel": "Name",
              "fieldName": "client_name",
              "requiredField": true
            },
            {
              "fieldLabel": "Building Name",
              "fieldName": "building_name"
            },
            {
              "fieldLabel": "Building Size (units)",
              "fieldType": "number",
              "fieldName": "building_size"
            },
            {
              "fieldLabel": "Your Message",
              "fieldType": "textarea",
              "fieldName": "message",
              "requiredField": true
            }
          ]
        },
        "options": {
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Thank you for your inquiry! Our team will review your message and respond shortly."
            }
          }
        }
      },
      "id": "9f7e1bd5-a5fd-4e1d-8b21-616b4b61d0ba",
      "name": "Strata Inquiry Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        240,
        400
      ],
      "webhookId": "1998d902-6ef9-4e44-8420-a4a6f22b46ce"
    },
    {
      "parameters": {
        "url": "={{ (($vars.LARAVEL_PUBLIC_BASE_URL || \"https://REPLACE-WITH-LARAVEL-NGROK-URL.ngrok-free.app\").replace(/\\/$/, \"\")) + \"/api/client/context?email=\" + encodeURIComponent($json.client_email || \"\") }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ngrok-skip-browser-warning",
              "value": "true"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "0863e4aa-b157-42f1-9960-ee3ec175f819",
      "name": "Lookup Client Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        400
      ],
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Calls the Laravel DB-backed client context endpoint. In n8n Cloud, set variable LARAVEL_PUBLIC_BASE_URL to your ngrok/Laravel public URL, for example https://xxxx.ngrok-free.app."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "inquiry_message",
              "value": "={{ $(\"Strata Inquiry Form\").item.json.message }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "client_email",
              "value": "={{ $(\"Strata Inquiry Form\").item.json.client_email }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "client_name",
              "value": "={{ $(\"Strata Inquiry Form\").item.json.client_name }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "building_name",
              "value": "={{ $(\"Strata Inquiry Form\").item.json.building_name }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "building_size",
              "value": "={{ $(\"Strata Inquiry Form\").item.json.building_size }}",
              "type": "number"
            },
            {
              "id": "6",
              "name": "client_context",
              "value": "={{ (() => { const fallback = { client_exists: false, client_id: null, client_type: \"New\", assigned_consultant: \"Business Development\", past_inquiries_count: 0, active_projects: [], open_requests: 0, levy_status: \"n/a\", portal_access: false, lots: [], profile: null, lookup_status: \"not_found\", lookup_note: \"No matching client found in the Laravel database; continue as a new client enquiry.\" }; const ctx = $(\"Lookup Client Context\").item.json ?? {}; const data = ctx.data; const text = typeof data === \"string\" ? data.toLowerCase() : \"\"; const status = Number(ctx.statusCode ?? ctx.status ?? 0); const badResponse = Boolean(ctx.error) || status >= 400 || text.includes(\"<!doctype html\") || text.includes(\"ngrok\") || (text.includes(\"endpoint\") && text.includes(\"offline\")); if (badResponse) return { ...fallback, lookup_status: \"unavailable\", lookup_error: \"Laravel client lookup returned an error or non-client response; do not analyse that response as the enquiry.\" }; if (ctx.client_exists === false || (!ctx.client_id && (ctx.client_type === \"New\" || ctx.client_type === undefined))) return { ...fallback, ...ctx, client_exists: false, client_type: \"New\", assigned_consultant: ctx.assigned_consultant ?? \"Business Development\", lookup_status: \"not_found\" }; return { ...ctx, lookup_status: \"found\", lookup_source: \"laravel_database\" }; })() }}",
              "type": "object"
            },
            {
              "id": "7",
              "name": "similar_cases",
              "value": "={{ [] }}",
              "type": "array"
            },
            {
              "id": "8",
              "name": "workflow_source",
              "value": "n8n_cloud_form",
              "type": "string"
            },
            {
              "id": "9",
              "name": "knowledge_sources",
              "value": "={{ { client_lookup: \"Laravel /api/client/context\", google_sheet_tool: \"Knowledge Base Sheet Tool\" } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "77004425-b155-480e-b494-8458d868f18d",
      "name": "Prepare AI Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CURRENT CLIENT ENQUIRY\nClient name: {{ $json.client_name || \"Client\" }}\nClient email: {{ $json.client_email || \"not supplied\" }}\nBuilding: {{ $json.building_name || \"not supplied\" }}\nBuilding size: {{ $json.building_size || 0 }} units\nSubmitted message: {{ $json.inquiry_message }}\n\nCLIENT CONTEXT FROM LARAVEL DATABASE\n{{ JSON.stringify($json.client_context, null, 2) }}\n\nSIMILAR PAST INQUIRIES FALLBACK\n{{ JSON.stringify($json.similar_cases, null, 2) }}\n\nGOOGLE SHEETS KNOWLEDGE BASE\nA tool named `Knowledge Base Sheet Tool` is available after Google Sheets credentials/document are configured. Use it to look up relevant rows from the `KnowledgeBase` sheet using the submitted message, category keywords, urgency, and client status. If the tool is unavailable, errors, or returns no useful row, continue using the submitted message and Laravel client context.\n\nTASK\nAnalyse only the client's submitted message and the supplied client and Google Sheets context. Return a staff-ready triage result for a strata consultancy.\n\nIMPORTANT GUARDRAILS\n- The client's enquiry is the value in \"Submitted message\" only.\n- Do not analyse webhook, Laravel, ngrok, endpoint, HTML, JSON, or integration errors unless those words are explicitly part of the client's submitted message.\n- If client lookup status is `not_found`, continue as a New Client; this is a normal negative lookup.\n- If client context or Google Sheets data is unavailable, continue using the submitted message and mark the historical reference as not applicable.\n- Never output null as a client name. Use \"Client\" when the name is missing.\n- Keep recommended actions practical for staff members.\n- Keep the suggested response client-facing, professional, and ready to paste.\n\nCLASSIFICATION\nSet client_type to:\n- \"Existing Client\" when client_context.client_exists is true.\n- \"New Client\" otherwise.\n\nSet category to one of:\n- \"New Client\" for prospective client/service enquiries.\n- \"Support Request\" for existing-client operational help or project follow-up.\n- \"Complaint\" for dissatisfaction, disputes, repeated problems, or negative sentiment.\n- \"Maintenance Request\" for repairs, leaks, safety hazards, access, facilities, or contractors.\n- \"Financial Enquiry\" for levies, invoices, budgets, payments, arrears, or statements.\n- \"General Question\" for broad information requests that do not fit the above.\n\nSet urgency to:\n- \"High\" for safety risks, water/electrical issues, legal/compliance risk, complaints, repeated unresolved issues, or same-day attention.\n- \"Medium\" for existing-client support, financial questions, committee/project follow-up, or time-sensitive but non-emergency requests.\n- \"Low\" for general questions or non-urgent new-client enquiries.\n\nOUTPUT JSON FIELDS\n- client_type: \"New Client\" or \"Existing Client\"\n- category: one of the categories listed above\n- urgency: \"High\", \"Medium\", or \"Low\"\n- confidence: integer from 0 to 100\n- summary: one concise sentence about the actual client enquiry\n- recommended_actions: array of 3 to 5 staff actions\n- historical_reference: object with similar_case_id and previous_resolution; use 0 and \"n/a\" if no useful match\n- suggested_response: 2 to 4 short paragraphs addressed to the client by name when available\n- requires_human_review: true when urgency is High, category is Complaint, confidence is below 70, or the enquiry is ambiguous",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a senior strata operations assistant. Classify client enquiries, recommend staff actions, and draft professional client responses. Use the submitted client message as the source of truth. Use Laravel database client context and Google Sheets knowledge as supporting context. Treat client-not-found lookups as normal new-client enquiries, not workflow failures. Return only the structured JSON required by the output parser."
        }
      },
      "id": "ef8b4d2c-000b-4425-852a-1f9f7db884e6",
      "name": "Classify & Analyze Inquiry",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1136,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "or",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.output.urgency }}",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "2",
              "leftValue": "={{ $json.output.requires_human_review }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "e071a318-dfd6-41b7-acc7-0ddca50ee7ea",
      "name": "Check Urgency",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1488,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "status",
              "value": "ESCALATED",
              "type": "string"
            },
            {
              "id": "2",
              "name": "notification",
              "value": "={{ \"🚨 HIGH PRIORITY: \" + $json.output.category + \" from \" + $(\"Prepare AI Context\").item.json.client_name }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "assigned_to",
              "value": "={{ $(\"Prepare AI Context\").item.json.client_context.assigned_consultant ?? \"Unassigned\" }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "analysis",
              "value": "={{ $json.output }}",
              "type": "object"
            },
            {
              "id": "5",
              "name": "client_info",
              "value": "={{ $(\"Prepare AI Context\").item.json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "3ce86909-438a-45fa-989e-4143b61aad63",
      "name": "Escalate to Human Review",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "status",
              "value": "PROCESSED",
              "type": "string"
            },
            {
              "id": "2",
              "name": "notification",
              "value": "={{ \"✅ \" + $json.output.category + \" from \" + $(\"Prepare AI Context\").item.json.client_name + \" - Auto-processed\" }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "analysis",
              "value": "={{ $json.output }}",
              "type": "object"
            },
            {
              "id": "4",
              "name": "client_info",
              "value": "={{ $(\"Prepare AI Context\").item.json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "db47a74f-2dd2-4fba-99db-3bfab1144ce7",
      "name": "Standard Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        496
      ]
    },
    {
      "parameters": {
        "content": "## 🎯 Workflow Overview\n\nThis workflow demonstrates enterprise-grade inquiry triage with:\n\n**1. Form Capture** - Collect client details\n**2. Client Lookup** - Retrieve ownership & history\n**3. Knowledge Retrieval** - Query Google Sheets through the AI Agent\n**4. AI Analysis** - Context-aware classification\n**5. Smart Routing** - Escalate or auto-process\n\n**Key Features:**\n• Email-based client identification\n• Google Sheets knowledge retrieval\n• Sentiment-based urgency detection\n• Automated response generation\n• Human review for high-priority cases",
        "height": 280,
        "width": 320,
        "color": 4
      },
      "id": "5825a353-c655-4b31-9eec-d5ccc1b21380",
      "name": "Workflow Guide",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        208
      ]
    },
    {
      "parameters": {
        "content": "## n8n Cloud Demo Configuration\n\nThis workflow now uses the Laravel database for client context instead of hardcoded mock users inside n8n.\n\n**Required Laravel public URL**\nSet the n8n Cloud variable `LARAVEL_PUBLIC_BASE_URL` to your public Laravel URL, usually the current ngrok URL, for example:\n`https://xxxx.ngrok-free.app`\n\n**Laravel endpoints used**\n1. Client Lookup: `GET /api/client/context?email=...`\n\n**Mock clients**\nMock/demo clients are defined in Laravel `database/seeders/MockWorkflowDataSeeder.php` and inserted into SQLite with `php artisan migrate:fresh --seed` or `php artisan db:seed --class=MockWorkflowDataSeeder`.\n\n**Google Sheets RAG**\nConfigure the `Knowledge Base Sheet Tool` node with the Google Sheet created from `data/strata_knowledge_base_google_sheet.csv`. The AI Agent uses this as the RAG/knowledge source.",
        "height": 360,
        "width": 520,
        "color": 5
      },
      "id": "5a8cec2c-4cbe-4118-b2de-79546fdd7f1a",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        736
      ]
    },
    {
      "parameters": {
        "content": "## 🤖 AI Model Settings\n\n**Current Configuration:**\n• Model: gpt-4o-mini\n• Temperature: 0.2 (low for consistent classification)\n• Max Tokens: 1000\n\n**Why Low Temperature?**\nFor triage/classification tasks, we want deterministic, consistent results. Temperature 0.2 ensures the AI follows classification rules strictly.\n\n**Adjust in:** OpenAI Model node → Options → Temperature",
        "height": 240,
        "width": 320,
        "color": 2
      },
      "id": "1c87e41f-3c8a-49ac-8347-674451b03c31",
      "name": "AI Configuration",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        896
      ]
    },
    {
      "parameters": {
        "options": {},
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "REPLACE_WITH_STRATA_KNOWLEDGE_SHEET_ID",
          "cachedResultName": "Strata Knowledge Base Mock"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "KnowledgeBase",
          "cachedResultName": "KnowledgeBase"
        }
      },
      "id": "google-sheet-knowledge-tool-cloud-mock",
      "name": "Knowledge Base Sheet Tool",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1280,
        800
      ],
      "notesInFlow": true,
      "notes": "Upload data/strata_knowledge_base_google_sheet.csv to Google Sheets, name the tab KnowledgeBase, then select the document and sheet here. This AI tool is the RAG/knowledge source.",
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify & Analyze Inquiry",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Classify & Analyze Inquiry",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Strata Inquiry Form": {
      "main": [
        [
          {
            "node": "Lookup Client Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Client Context": {
      "main": [
        [
          {
            "node": "Prepare AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Context": {
      "main": [
        [
          {
            "node": "Classify & Analyze Inquiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify & Analyze Inquiry": {
      "main": [
        [
          {
            "node": "Check Urgency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Urgency": {
      "main": [
        [
          {
            "node": "Escalate to Human Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Standard Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base Sheet Tool": {
      "ai_tool": [
        [
          {
            "node": "Classify & Analyze Inquiry",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "instanceId": "ec3b3be42921bc408f65d871f0fb08b65e699857bb1bef89d686a642b4c56ef9"
  },
  "tags": []
}
