Enquiry Classifier & Response Generator - Webhook UI.json
{
  "name": "Enquiry Classifier & Response Generator - Webhook UI",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 1000,
          "temperature": 0.2
        }
      },
      "id": "51f8e3f1-8211-49fd-b65d-eea23966da05",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1144,
        624
      ],
      "credentials": {
        "openAiApi": {
          "id": "ZmQjj6SbWmNScPZ4",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{ \"client_type\": \"Existing Client\", \"category\": \"Complaint\", \"urgency\": \"High\", \"confidence\": 93, \"summary\": \"Existing client reports dissatisfaction with current strata transition delays.\", \"recommended_actions\": [\"Escalate to senior consultant\", \"Schedule follow-up meeting\", \"Review transition timeline\"], \"historical_reference\": { \"similar_case_id\": 1001, \"previous_resolution\": \"Transition consultation completed successfully\" }, \"suggested_response\": \"Thank you for reaching out regarding your concerns...\", \"requires_human_review\": false }"
      },
      "id": "ac8e10cd-9edc-4178-8f3c-3e5ada3185d7",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1272,
        624
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "strata-enquiry",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "9f7e1bd5-a5fd-4e1d-8b21-616b4b61d0ba",
      "name": "Custom UI Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        400
      ],
      "webhookId": "strata-enquiry-custom-ui"
    },
    {
      "parameters": {
        "url": "={{ \"https://e293-103-43-214-18.ngrok-free.app/api/client/context?email=\" + $json.client_email }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ngrok-skip-browser-warning",
              "value": "true"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "0863e4aa-b157-42f1-9960-ee3ec175f819",
      "name": "Lookup Client Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://e293-103-43-214-18.ngrok-free.app/api/rag/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ngrok-skip-browser-warning",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"query\": $(\"Strata Inquiry Form\").item.json.message, \"limit\": 3 } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "5ca3c3c4-9d55-4300-a0a1-9b5ad8a79a7c",
      "name": "Retrieve Similar Cases (RAG)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "inquiry_message",
              "value": "={{ $(\"Strata Inquiry Form\").item.json.message }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "client_email",
              "value": "={{ $(\"Strata Inquiry Form\").item.json.client_email }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "client_name",
              "value": "={{ $(\"Strata Inquiry Form\").item.json.client_name }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "building_name",
              "value": "={{ $(\"Strata Inquiry Form\").item.json.building_name }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "building_size",
              "value": "={{ $(\"Strata Inquiry Form\").item.json.building_size }}",
              "type": "number"
            },
            {
              "id": "6",
              "name": "client_context",
              "value": "={{ $(\"Lookup Client Context\").item.json }}",
              "type": "object"
            },
            {
              "id": "7",
              "name": "similar_cases",
              "value": "={{ $(\"Retrieve Similar Cases (RAG)\").item.json.similar_cases }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "77004425-b155-480e-b494-8458d868f18d",
      "name": "Prepare AI Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CURRENT INQUIRY:\nClient: {{ $json.client_name }} ({{ $json.client_email }})\nBuilding: {{ $json.building_name }} ({{ $json.building_size }} units)\nMessage: {{ $json.inquiry_message }}\n\nCLIENT CONTEXT:\n{{ JSON.stringify($json.client_context, null, 2) }}\n\nSIMILAR PAST INQUIRIES (RAG):\n{{ JSON.stringify($json.similar_cases, null, 2) }}\n\nINSTRUCTIONS:\nAnalyze this strata consultancy inquiry and provide a structured response.\n\nClassification Rules:\n- \"New Client\" if client_context.client_exists is false\n- \"Support Request\" if existing client with active projects\n- \"Complaint\" if negative sentiment detected (dissatisfaction, unhappy, issues, problems)\n- \"General Question\" for informational inquiries\n\nUrgency Levels:\n- \"High\" for complaints, urgent issues, or time-sensitive matters\n- \"Medium\" for support requests from existing clients\n- \"Low\" for general questions or new client inquiries\n\nReturn a JSON object with:\n- client_type: \"New Client\" or \"Existing Client\"\n- category: classification from rules above\n- urgency: \"High\", \"Medium\", or \"Low\"\n- confidence: 0-100 (your confidence in the classification)\n- summary: brief 1-sentence summary of the inquiry\n- recommended_actions: array of 2-4 specific action items for staff\n- historical_reference: { similar_case_id, previous_resolution } from RAG data if relevant\n- suggested_response: professional response draft for the client (2-3 paragraphs)\n- requires_human_review: true if confidence < 70 or urgency is High",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI operations assistant for a strata consultancy. Analyze inquiries using client context and historical data to classify, prioritize, and recommend actions. Be professional, empathetic, and leverage past successful resolutions."
        }
      },
      "id": "ef8b4d2c-000b-4425-852a-1f9f7db884e6",
      "name": "Classify & Analyze Inquiry",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1136,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "or",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.output.urgency }}",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "2",
              "leftValue": "={{ $json.output.requires_human_review }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "e071a318-dfd6-41b7-acc7-0ddca50ee7ea",
      "name": "Check Urgency",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1488,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "status",
              "value": "ESCALATED",
              "type": "string"
            },
            {
              "id": "2",
              "name": "notification",
              "value": "={{ \"🚨 HIGH PRIORITY: \" + $json.output.category + \" from \" + $(\"Prepare AI Context\").item.json.client_name }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "assigned_to",
              "value": "={{ $(\"Prepare AI Context\").item.json.client_context.assigned_consultant ?? \"Unassigned\" }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "analysis",
              "value": "={{ $json.output }}",
              "type": "object"
            },
            {
              "id": "5",
              "name": "client_info",
              "value": "={{ $(\"Prepare AI Context\").item.json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "3ce86909-438a-45fa-989e-4143b61aad63",
      "name": "Escalate to Human Review",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "status",
              "value": "PROCESSED",
              "type": "string"
            },
            {
              "id": "2",
              "name": "notification",
              "value": "={{ \"✅ \" + $json.output.category + \" from \" + $(\"Prepare AI Context\").item.json.client_name + \" - Auto-processed\" }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "analysis",
              "value": "={{ $json.output }}",
              "type": "object"
            },
            {
              "id": "4",
              "name": "client_info",
              "value": "={{ $(\"Prepare AI Context\").item.json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "db47a74f-2dd2-4fba-99db-3bfab1144ce7",
      "name": "Standard Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        496
      ]
    },
    {
      "parameters": {
        "content": "## 🎯 Workflow Overview\n\nThis workflow demonstrates enterprise-grade inquiry triage with:\n\n**1. Form Capture** - Collect client details\n**2. Client Lookup** - Retrieve ownership & history\n**3. RAG Retrieval** - Find similar past cases\n**4. AI Analysis** - Context-aware classification\n**5. Smart Routing** - Escalate or auto-process\n\n**Key Features:**\n• Email-based client identification\n• Historical case similarity matching\n• Sentiment-based urgency detection\n• Automated response generation\n• Human review for high-priority cases",
        "height": 280,
        "width": 320,
        "color": 4
      },
      "id": "5825a353-c655-4b31-9eec-d5ccc1b21380",
      "name": "Workflow Guide",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        208
      ]
    },
    {
      "parameters": {
        "content": "## 🔧 Configuration Required\n\n**Backend API Endpoints:**\n1. Client Lookup: `GET /api/client/context?email=...`\n2. RAG Search: `POST /api/rag/search`\n\n**Mock Response Examples:**\n```json\n// Client Context\n{\n  \"client_exists\": true,\n  \"client_id\": 381,\n  \"client_type\": \"Existing\",\n  \"assigned_consultant\": \"Sarah Johnson\",\n  \"past_inquiries_count\": 12,\n  \"active_projects\": [\"Manager Transition\"]\n}\n\n// RAG Similar Cases\n{\n  \"similar_cases\": [\n    {\n      \"inquiry_id\": 1001,\n      \"category\": \"Strata Management Change\",\n      \"actions_taken\": [...],\n      \"resolution\": \"...\"\n    }\n  ]\n}\n```\n\n**For MVP Testing:**\nReplace HTTP Request nodes with mock data using Set nodes.",
        "height": 612,
        "width": 540,
        "color": 5
      },
      "id": "5a8cec2c-4cbe-4118-b2de-79546fdd7f1a",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        736
      ]
    },
    {
      "parameters": {
        "content": "## 🤖 AI Model Settings\n\n**Current Configuration:**\n• Model: gpt-4o-mini\n• Temperature: 0.2 (low for consistent classification)\n• Max Tokens: 1000\n\n**Why Low Temperature?**\nFor triage/classification tasks, we want deterministic, consistent results. Temperature 0.2 ensures the AI follows classification rules strictly.\n\n**Adjust in:** OpenAI Model node → Options → Temperature",
        "height": 240,
        "width": 320,
        "color": 2
      },
      "id": "1c87e41f-3c8a-49ac-8347-674451b03c31",
      "name": "AI Configuration",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        896
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "client_email",
              "name": "client_email",
              "value": "={{ $json.body?.client_email ?? $json.body?.email ?? $json.client_email ?? $json.email }}",
              "type": "string"
            },
            {
              "id": "client_name",
              "name": "client_name",
              "value": "={{ $json.body?.client_name ?? $json.body?.name ?? $json.client_name ?? $json.name }}",
              "type": "string"
            },
            {
              "id": "building_name",
              "name": "building_name",
              "value": "={{ $json.body?.building_name ?? $json.building_name ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "building_size",
              "name": "building_size",
              "value": "={{ Number($json.body?.building_size ?? $json.building_size ?? 0) }}",
              "type": "number"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ $json.body?.message ?? $json.body?.inquiry ?? $json.message ?? $json.inquiry }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "custom-ui-normalize-input",
      "name": "Strata Inquiry Form",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        400
      ]
    },
    {
      "parameters": {
        "content": "## Custom UI Webhook\n\nUse this workflow when the client form is your own web UI.\n\nProduction webhook URL after activation:\n`https://gabunadame.app.n8n.cloud/webhook/strata-enquiry`\n\nLocal backend/RAG URL configured in HTTP nodes:\n`https://e293-103-43-214-18.ngrok-free.app`",
        "height": 260,
        "width": 460,
        "color": 3
      },
      "id": "custom-ui-webhook-note",
      "name": "Custom UI Webhook Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -120,
        96
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify & Analyze Inquiry",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Classify & Analyze Inquiry",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Client Context": {
      "main": [
        [
          {
            "node": "Retrieve Similar Cases (RAG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Similar Cases (RAG)": {
      "main": [
        [
          {
            "node": "Prepare AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Context": {
      "main": [
        [
          {
            "node": "Classify & Analyze Inquiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify & Analyze Inquiry": {
      "main": [
        [
          {
            "node": "Check Urgency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Urgency": {
      "main": [
        [
          {
            "node": "Escalate to Human Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Standard Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Custom UI Webhook": {
      "main": [
        [
          {
            "node": "Strata Inquiry Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strata Inquiry Form": {
      "main": [
        [
          {
            "node": "Lookup Client Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "instanceId": "ec3b3be42921bc408f65d871f0fb08b65e699857bb1bef89d686a642b4c56ef9"
  },
  "tags": []
}
