sample.json
{
  "name": "Strata AI Enquiry Processor (Sheets KB v2)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "strata-enquiry",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e01795d5-89fe-4890-9acf-586b0d3695c1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-544, 400],
      "webhookId": "839e2784-45a1-499b-ad72-a0b2d26a7177"
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "message",      "value": "={{$json[\"message\"]}}" },
            { "name": "sender_name",  "value": "={{$json[\"sender_name\"] || \"\"}}" },
            { "name": "sender_email", "value": "={{$json[\"sender_email\"] || \"\"}}" },
            { "name": "sender_phone", "value": "={{$json[\"sender_phone\"] || \"\"}}" },
            { "name": "channel",      "value": "={{$json[\"channel\"] || \"web\"}}" }
          ]
        },
        "options": {}
      },
      "id": "2fa2f9e6-3ef8-4ac5-bad4-534c346b64b3",
      "name": "Set Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [-336, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env[\"MCP_SERVER_URL\"]}}/tools/verify_client",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer ={{$env[\"MCP_API_KEY\"]}}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "email", "value": "={{$json.sender_email}}" },
            { "name": "phone", "value": "={{$json.sender_phone}}" },
            { "name": "name",  "value": "={{$json.sender_name}}" }
          ]
        },
        "options": { "timeout": 5000 }
      },
      "id": "d8ee4054-2893-4014-acad-90911d56556f",
      "name": "MCP: Verify Client Identity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-112, 400]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst mcp  = item.json;\nconst prev = $('Set Input').first().json;\n\nlet identityBlock = '';\nlet clientStatus  = 'new';\nlet clientProfile = {};\n\nif (mcp.found === true || mcp.client_id) {\n  clientStatus = mcp.status === 'inactive' ? 'inactive_former' : 'existing';\n  clientProfile = {\n    client_id:       mcp.client_id || '',\n    full_name:       mcp.full_name || prev.sender_name,\n    status:          mcp.status   || 'active',\n    lots:            mcp.lots     || [],\n    account_manager: mcp.account_manager || '',\n    levy_status:     mcp.levy_status     || 'unknown',\n    open_requests:   mcp.open_requests   || 0,\n    portal_access:   mcp.portal_access   || false\n  };\n\n  const lotsSummary = clientProfile.lots.length > 0\n    ? clientProfile.lots.map(l => `Lot ${l.lot_number} at ${l.building} (${l.role})`).join('; ')\n    : 'No lots on file';\n\n  identityBlock = [\n    `## Verified Client Profile`,\n    `- Client ID: ${clientProfile.client_id}`,\n    `- Name: ${clientProfile.full_name}`,\n    `- Account Status: ${clientProfile.status}`,\n    `- Lots: ${lotsSummary}`,\n    `- Account Manager: ${clientProfile.account_manager || 'Unassigned'}`,\n    `- Levy Status: ${clientProfile.levy_status}`,\n    `- Open Requests: ${clientProfile.open_requests}`,\n    `- Portal Access: ${clientProfile.portal_access ? 'Yes' : 'No'}`\n  ].join('\\n');\n\n} else {\n  clientStatus  = 'new';\n  identityBlock = [\n    `## Client Identity`,\n    `- Status: NOT FOUND in database (treat as new enquiry)`,\n    `- Name provided: ${prev.sender_name  || 'Not given'}`,\n    `- Email provided: ${prev.sender_email || 'Not given'}`\n  ].join('\\n');\n}\n\nreturn [{\n  json: {\n    ...prev,\n    client_status:  clientStatus,\n    client_profile: clientProfile,\n    identity_block: identityBlock\n  }\n}];"
      },
      "id": "5a92af6b-34c2-4308-a850-520c82ffcc22",
      "name": "Build Identity Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [112, 400]
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "={{$env[\"PAST_ENQUIRIES_SHEET_ID\"]}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "past_enquiries",
          "mode": "name"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "b3c4d5e6-f7a8-9012-bcde-f34567890abc",
      "name": "Fetch Past Enquiries (Sheets)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [336, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "notes": "Reads all rows from the past_enquiries tab. Sheet columns: category | subcategory | urgency | client_status | original_message | recommended_action | suggested_response | processed_at. Set PAST_ENQUIRIES_SHEET_ID as an environment variable."
    },
    {
      "parameters": {
        "jsCode": "// Merge identity context + Sheets KB rows into a single enriched payload\n// for the AI agent prompt\n\nconst sheetsItems = $input.all();\nconst prev = $('Build Identity Context').first().json;\n\n// Build a compact text block from all sheet rows (cap at 20 most recent to avoid context overflow)\nconst rows = sheetsItems\n  .map(i => i.json)\n  .filter(r => r.category && r.original_message)\n  .slice(-20); // take the 20 most recent rows\n\nlet kbBlock = '';\n\nif (rows.length > 0) {\n  const rowText = rows.map((r, idx) => [\n    `### Past Enquiry ${idx + 1}`,\n    `- Category: ${r.category}${r.subcategory ? ' — ' + r.subcategory : ''}`,\n    `- Urgency: ${r.urgency}`,\n    `- Client Status: ${r.client_status}`,\n    `- Original Message: ${r.original_message}`,\n    `- Recommended Action: ${r.recommended_action}`,\n    `- Suggested Response: ${r.suggested_response}`\n  ].join('\\n')).join('\\n\\n');\n\n  kbBlock = [\n    `## Past Enquiries Knowledge Base (${rows.length} records — use the most similar ones to inform your classification and response):`,\n    rowText,\n    ``,\n    `> INSTRUCTION: Find the 1–3 past enquiries most similar to the current message. Use their Recommended Action and Suggested Response as your primary basis — adapt, do not copy verbatim. Set action_source to \"sheets_kb\".`\n  ].join('\\n');\n} else {\n  kbBlock = [\n    `## Past Enquiries Knowledge Base: No records found.`,\n    `> INSTRUCTION: No past data available. Generate classification and recommended action from strata industry first principles. Set action_source to \"ai_reasoning\".`\n  ].join('\\n');\n}\n\nreturn [{\n  json: {\n    ...prev,\n    kb_block: kbBlock,\n    has_kb: rows.length > 0\n  }\n}];"
      },
      "id": "81d2c874-1fd0-412c-b1f2-c3e90c63d697",
      "name": "Merge Identity + KB Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 400]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ `${$json.identity_block}\\n\\n## Enquiry\\nSender: ${$json.sender_name} (${$json.sender_email || 'no email'}) via ${$json.channel}\\n\\nMessage:\\n${$json.message}\\n\\n${$json.kb_block}` }}",
        "options": {
          "systemMessage": "You are an expert enquiry classifier and response assistant for a strata management company. Your job is to analyse enquiries with full context — including verified client identity and past similar enquiries — and produce a structured JSON classification.\n\n## Decision Order (follow strictly)\n\n1. **Check client identity first.** The prompt will include a `## Verified Client Profile` or `## Client Identity` section. Use this to:\n   - Set `client_status` correctly: `\"existing\"`, `\"new\"`, or `\"inactive_former\"`\n   - If the client is existing and has `open_requests > 0`, factor this into urgency\n   - If the client has `levy_status: \"overdue\"`, flag this in `key_details`\n   - If the client is `\"new\"`, the category must be `\"New Client Enquiry\"` unless the message is clearly a complaint or generic question from a non-client\n\n2. **Check the Past Enquiries Knowledge Base.** If a `## Past Enquiries Knowledge Base` section is provided:\n   - Identify the 1–3 past enquiries most similar to the current message\n   - Use their RECOMMENDED ACTION as the primary basis for `recommended_action` — adapt to fit the current details\n   - Use their SUGGESTED RESPONSE as the primary basis for `suggested_response` — personalise to the current sender\n   - Their category and urgency should strongly influence but not blindly override your classification\n   - Set `action_source: \"sheets_kb\"`\n\n3. **Fallback (no KB data).** If no past enquiries are found:\n   - Generate `recommended_action` and `suggested_response` from strata industry first principles\n   - Set `action_source: \"ai_reasoning\"`\n\n4. **Classify** using all available context.\n\n---\n\n## Output\n\nReturn ONLY a valid JSON object. No markdown, no explanation, no preamble.\n\n{\n  \"category\": \"<string>\",\n  \"subcategory\": \"<string>\",\n  \"urgency\": \"<string>\",\n  \"confidence\": <number>,\n  \"client_status\": \"<string>\",\n  \"client_id\": \"<string or null>\",\n  \"summary\": \"<string>\",\n  \"key_details\": [\"<string>\"],\n  \"suggested_response\": \"<string>\",\n  \"recommended_action\": \"<string>\",\n  \"action_source\": \"<string>\",\n  \"routing\": \"<string>\",\n  \"follow_up_questions\": [\"<string>\"]\n}\n\n---\n\n## Field Definitions\n\n### category (pick exactly one)\n- **New Client Enquiry** — Not in database, asking about services, pricing, onboarding, or switching managers\n- **Support Request** — Existing client needing help with portal, documents, levy payments, access\n- **Complaint** — Dissatisfaction, dispute, grievance, noise, neighbour issues, contractor quality, management failure\n- **Maintenance Request** — Broken/damaged common property, urgent or non-urgent repairs\n- **Financial Enquiry** — Levies, invoices, budgets, overdue payments, special levies\n- **Legal or Compliance Enquiry** — By-laws, AGM, legislation, voting, formal notices\n- **General Question** — Anything else\n\n### subcategory — a 2–4 word refinement of the category\n\n### urgency (pick exactly one)\n- **Critical** — Safety risk, legal deadline < 24h, complete service failure\n- **High** — Escalating issue, unresolved dispute, time-sensitive within 1–2 business days\n- **Medium** — Standard SLA, 3–5 business days\n- **Low** — Informational, no immediate impact\n\n**Urgency modifiers from identity:**\n- Existing client with 2+ open_requests → bump up one level\n- Overdue levy in a financial enquiry → bump to High minimum\n- Inactive/former client → keep Medium unless safety involved\n\n### confidence — 0 to 1 (0.9+ for clear cases, 0.5–0.7 for ambiguous)\n\n### client_status — `\"existing\"` | `\"new\"` | `\"inactive_former\"`\n\n### client_id — from the verified profile, or null if new\n\n### summary — one sentence, max 20 words\n\n### key_details — up to 5 strings: lot numbers, buildings, specific issues, dates, names extracted from the message and profile\n\n### suggested_response — 2–4 sentence professional, empathetic draft reply to the sender. Personalise using their name and any lot/building details from the profile.\n\n### recommended_action — concrete staff instruction. Name specific steps. Reference lot numbers, buildings, account managers from the verified profile where relevant.\n\n### action_source — `\"sheets_kb\"` if informed by past enquiries | `\"ai_reasoning\"` if generated from scratch\n\n### routing\n- `\"Account Manager: [name]\"` if the client has a known account manager\n- `\"Business Development\"` for new client enquiries\n- `\"Building Manager\"` for on-site maintenance emergencies\n- `\"Strata Committee\"` for legal/compliance matters\n- `\"Finance Team\"` for financial enquiries\n- `\"Director — Urgent\"` for high-severity complaints\n\n### follow_up_questions — up to 3 questions for staff to ask the sender. Empty array if not needed.\n\n---\n\n## Rules\n- Return ONLY the JSON object\n- Never fabricate lot numbers, amounts, or names not in the prompt\n- If the sender is distressed or angry, bump urgency one level and make suggested_response especially empathetic\n- If client is new, recommended_action must include assigning to Business Development"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [784, 400],
      "id": "32dcbf13-ff1e-46b4-9251-4e3e77ef5a7d",
      "name": "AI Classification Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [784, 576],
      "id": "60f4d27a-c2c6-46bf-a918-3b3be52b1a82",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "E3fNoS2yxEwmWSry",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst outputs = [];\n\nfor (const item of items) {\n  try {\n    let aiResponse = item.json.response || item.json.output || item.json.text || '';\n\n    // Strip code fences\n    aiResponse = aiResponse.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\n    // Extract JSON block if wrapped in extra text\n    const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) aiResponse = jsonMatch[0];\n\n    const parsed = JSON.parse(aiResponse);\n\n    // Required fields check\n    const required = ['category', 'urgency', 'confidence', 'client_status', 'summary', 'suggested_response', 'recommended_action', 'action_source'];\n    const missing = required.filter(f => !parsed[f]);\n    if (missing.length > 0) throw new Error(`Missing fields: ${missing.join(', ')}`);\n\n    // Normalise optional fields\n    parsed.subcategory         = parsed.subcategory || '';\n    parsed.client_id           = parsed.client_id   || null;\n    parsed.key_details         = parsed.key_details         || [];\n    parsed.follow_up_questions = parsed.follow_up_questions || [];\n    parsed.routing             = parsed.routing             || 'General Queue';\n\n    const prev = $('Merge Identity + KB Context').first().json;\n\n    outputs.push({\n      json: {\n        success: true,\n        data: parsed,\n        meta: {\n          original_message: prev.message        || '',\n          sender_name:      prev.sender_name    || '',\n          sender_email:     prev.sender_email   || '',\n          channel:          prev.channel        || 'web',\n          client_profile:   prev.client_profile || {},\n          has_kb_context:   prev.has_kb         || false,\n          processed_at:     new Date().toISOString()\n        }\n      }\n    });\n\n  } catch (error) {\n    const prev = $('Merge Identity + KB Context').first().json;\n    outputs.push({\n      json: {\n        success: false,\n        error: error.message,\n        data: {\n          category:            'General Question',\n          subcategory:         '',\n          urgency:             'Medium',\n          confidence:          0,\n          client_status:       prev.client_status             || 'unknown',\n          client_id:           prev.client_profile?.client_id || null,\n          summary:             'Classification failed — manual review required',\n          key_details:         [],\n          suggested_response:  'Thank you for your enquiry. A member of our team will be in touch shortly.',\n          recommended_action:  'Manual review required — AI classification failed. Assign to senior staff.',\n          action_source:       'fallback',\n          routing:             'General Queue',\n          follow_up_questions: []\n        },\n        meta: {\n          original_message: prev.message    || '',\n          processed_at:     new Date().toISOString()\n        }\n      }\n    });\n  }\n}\n\nreturn outputs;"
      },
      "id": "866c5768-d46a-451c-b953-ef7240ed8463",
      "name": "Parse & Validate Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1008, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      },
      "id": "61382a55-daff-4b44-97de-65f42e78446d",
      "name": "Classification Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1232, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{$env[\"PAST_ENQUIRIES_SHEET_ID\"]}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "past_enquiries",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "category":           "={{$json.data.category}}",
            "subcategory":        "={{$json.data.subcategory}}",
            "urgency":            "={{$json.data.urgency}}",
            "client_status":      "={{$json.data.client_status}}",
            "action_source":      "={{$json.data.action_source}}",
            "channel":            "={{$json.meta.channel}}",
            "original_message":   "={{$json.meta.original_message}}",
            "recommended_action": "={{$json.data.recommended_action}}",
            "suggested_response": "={{$json.data.suggested_response}}",
            "processed_at":       "={{$json.meta.processed_at}}"
          }
        },
        "options": {}
      },
      "id": "e700c7c7-af9b-4fee-a192-887bed85fe83",
      "name": "Log to Sheets: Append New Enquiry",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1456, 288],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "2b4c29bd-895c-47e4-bf33-f6c33cdc238d",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1680, 288]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "fda711f3-d889-41aa-bcd5-0b74e0afcb82",
      "name": "Return Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1456, 512]
    }
  ],
  "pinData": {
    "Webhook Trigger": [
      {
        "json": {
          "message": "Hi, I've been getting noise complaints from the unit above me every night after 10pm. This has been going on for 3 weeks. My lot is 14 at 22 Harbour Street.",
          "sender_name": "Maria Santos",
          "sender_email": "maria.santos@email.com",
          "sender_phone": "+61 412 001 001",
          "channel": "web"
        }
      }
    ]
  },
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Set Input", "type": "main", "index": 0 }]]
    },
    "Set Input": {
      "main": [[{ "node": "MCP: Verify Client Identity", "type": "main", "index": 0 }]]
    },
    "MCP: Verify Client Identity": {
      "main": [[{ "node": "Build Identity Context", "type": "main", "index": 0 }]]
    },
    "Build Identity Context": {
      "main": [[{ "node": "Fetch Past Enquiries (Sheets)", "type": "main", "index": 0 }]]
    },
    "Fetch Past Enquiries (Sheets)": {
      "main": [[{ "node": "Merge Identity + KB Context", "type": "main", "index": 0 }]]
    },
    "Merge Identity + KB Context": {
      "main": [[{ "node": "AI Classification Agent", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Classification Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Classification Agent": {
      "main": [[{ "node": "Parse & Validate Response", "type": "main", "index": 0 }]]
    },
    "Parse & Validate Response": {
      "main": [[{ "node": "Classification Successful?", "type": "main", "index": 0 }]]
    },
    "Classification Successful?": {
      "main": [
        [{ "node": "Log to Sheets: Append New Enquiry", "type": "main", "index": 0 }],
        [{ "node": "Return Error Response",             "type": "main", "index": 0 }]
      ]
    },
    "Log to Sheets: Append New Enquiry": {
      "main": [[{ "node": "Return Response", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b2c3d4e5-6789-01ab-cdef-222324252627",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "0314d0f6127572145f4965281ecd4b70cdd9d7a24534eed696081db43f3421b6",
    "notes": "All nodes use stable, non-LangChain node types. The broken vectorStoreRetriever and embeddingsGoogleGemini nodes are fully replaced by: (1) n8n-nodes-base.googleSheets (getAll) to fetch past enquiries as plain rows, (2) n8n-nodes-base.code to merge them into a readable KB block, injected into the agent prompt as text. The agent sub-node is only the Gemini Chat Model — no tool sub-nodes. Required env vars: MCP_SERVER_URL, MCP_API_KEY, PAST_ENQUIRIES_SHEET_ID. Required credentials: Google Gemini API (googlePalmApi), Google Sheets OAuth2 (googleSheetsOAuth2Api). Sheet tab name: past_enquiries. Sheet columns: category | subcategory | urgency | client_status | action_source | channel | original_message | recommended_action | suggested_response | processed_at"
  },
  "id": "9X0KzDvmxbxGuaNz",
  "tags": []
}